@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* resetando as configurações dos browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*

NÃO CONSEGUIMOS ESPAÇAR A IMAGEM DO MENU INICIAL

*/


header{
    position: fixed; /*para fixar o menu na tela*/
    width: 100%; /*ocupando 100% da tela*/
    background-color: rgb(19,25,33);
    z-index: 10;
}

.menu-superior{
    text-align: center; /*centralizando os itens do menu da nav*/
    padding: 30px; /*alterando a altura dos botões*/
}

nav a {
    padding: 24px 30px; /*espaçamento dos botões*/
    border: solid 1px #fff; /*coloração da borda dos botões*/
    text-decoration: none; /*retirando o sublinhado dos botões*/
    text-align: center; /*centralizando os textos dentro dos botões*/
    color: #fff; /*cor das letras dos botões*/
    font-size: 17px; /*tamanho da fonte dentro do botão*/
    margin-inline: 10px; /*espaçamento entre os botões*/ 
}



main {
    text-align: center; /*centralizando os itens da main*/
}

.imagem-principal img{
    width: 70%; /*diminuindo a imagem para ocupar 70%*/
    padding-bottom: 50px;
    position: relative; /*position relative para poder posicionar imagem e distanciar do menu*/
    margin-top: 120px;  /*distância da imagem pro topo*/  
}

#container{
    display: flex; /*torna os itens responsivos*/
    justify-content: center; /*espaçamento entre e ao redor dos itens*/
    flex-direction: column; /* organiza os itens no eixo principal*/
    align-items: center; /*alinha os itens ao centro*/
    text-align: center; /*alinha os textos ao centro*/
    position: relative; /*fixar bloco e poder distanciar da imagem*/
}
.cardBox{
    display: grid; /* transforma o display em uma grade*/
    grid-template-columns: repeat(3,1fr); /*divide os itens na grade de 3 em 3*/
    gap: 10px;/* espaçamento entre os itens dentro da grade*/
}

.produto img {
    width: 350px; /*redimensionando as imagens dos itens em 350px de largura*/
}


footer {
    width: 100%;  /*Ocupar 100% da tela*/
    padding: 35px; /*tamanho do bloco*/
    text-align: center;
    background-color: rgb(19,25,33); 
    color: #fff;
    position: relative; /*adicionar position relative pra distanciar do bloco de cima*/
    margin-top: 20px; /*distância pro bloco de cima*/
}