@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(19,25,33);
}

.menu-superior{
    text-align: center;
    padding: 30px;
    
}

nav a {
    padding: 24px 30px;
    border: solid 1px #fff;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin-inline: 10px;
}
